<header class="header" id="header" role="banner" itemscope itemtype="http://schema.org/WPHeader">
	<div class="header-inner">
		@Html.Partial("~/Views/Components/header/headerLogo.cshtml")
		@Html.Partial("~/Views/Components/header/headerNav.cshtml")
	</div>
</header>
