
<div class="grid">
    <div class="layout layout-a">
        <div class="region region-a">
            <div class="region-inner">
                @for (var i = 0; i < 24; i++) {
                    <div class="block block-single"></div>
                }
            </div>
        </div>
    </div>
</div>
