@using System.Threading.Tasks
@using Models
@model List<PageListing>

<h2>Pages</h2>
<ul class="file-list">
    @foreach (var page in Model)
    {
        var link = "/pages/" + page.Filename.ToLower() + "?debug=true";
        <li class="file">
            <a href=@link>@page.Title</a>
        </li>
    }
</ul>
