@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Layouts/_LayoutB.cshtml";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
