@using bb_prototype_website_razor.Controllers
@using bb_prototype_website_razor.Extensions
@using bb_prototype_website_razor.ViewComponents
@{
    ViewBag.visibleGrid = true;
    ViewBag.visibleBreakpoints = true;
}

@section FullWidthA {
	<h1>Content Card</h1>
}

@section RegionA {
    <h2>Region A</h2>
    @(await Component.InvokeAsync(typeof(JsonModelDrivenViewComponent), new
    {
        viewName = "~/Views/Components/content-cards/content-cards.cshtml",
        componentPath = "content-cards.contentCards.blockA"
    }))
    @Component.Render( viewName : "~/Views/Components/content-cards/content-cards.cshtml", 
                       componentPath : "content-cards.contentCards.blockA")

    @await Component.InvokeAsync(typeof(PriorityList), new { maxPriorty = 1, isDone = false})

    @await Component.InvokeAsync(typeof(JsonModelDrivenViewComponent), 
                        new { viewName = "~/Views/Components/basic.cshtml" })
}



