@{
    ViewBag.visibleGrid = true;
    ViewBag.visibleBreakpoints = true;
}

@section FullWidthA {
	<h1>Layout A</h1>
}

@section RegionA {
	<h2>Region A</h2>
	@Helpers.ModelHelper.GetModel("example.json").title
	@Html.Partial("~/Views/Components/basic.cshtml")
}



