@{
    ViewBag.visibleGrid = true;
    ViewBag.visibleBreakpoints = true;
    Layout = "~/Views/Layouts/_LayoutB.cshtml";
}

@section FullWidthA {
	<h1>Layout B</h1>
}

@section RegionA {
	<h2>Region A</h2>
}

@section RegionB {
	<h2>Region B</h2>
}

@section RegionC {
	<h2>Region C</h2>
}
